<html>
<head>
  <title>MyClass</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <script>
    function selectdir(){
      const target = document.getElementById("inputdir");
      const filepath = target.files[0].name;
      const dirpath = filepath.slice(0, Math.max(filepath.lastIndexOf("/"), filepath.lastIndexOf("\\")));
      const cldir = dirpath.slice(1 + Math.max(dirpath.lastIndexOf("/"), dirpath.lastIndexOf("\\")));
      const placeholder = document.getElementById("dirname");
      placeholder.innerText = cldir;
    }
  </script>
</head>
<body>
  <div class="tabs is-centered">
    <ul>
      {% for d in range(7) %}
        {% if d == day %}
        <li class="is-active">
        {% else %}
        <li>
        {% endif %}
          <a href=#>
            {{ "月火水木金土日"[d] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <nav class="pagination is-centered">
    <ul class="pagination-list">
      {% for c in range(cl_length) %}
        <li>
          {% if c == cl %}
          <span class="pagination-link is-current">
          {% else %}
          <span class="pagination-link">
          {% endif %}
            {{ c + 1 }}
          </span>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="m-2">
    <p class="title is-4">{{ cldir }}</p>
    <form>
      <div class="field">
        <label class="label">対象フォルダ</label>
        <div class="control">
          <div class="file is-primary has-name">
            <label class="file-label">
              <input class="file-input" type="file" id="inputdir" onChange="selectdir()">
              <span class="file-cta">
                <span class="file-label">
                  フォルダを選択
                </span>
              </span>
              <span class="file-name is-expanded" id="dirname">
                {{ cldir }}
              </span>
            </label>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">説明(Markdown)</label>
        <div class="control">
          <textarea class="textarea is-expanded" name="">{{ description_raw }}</textarea>
        </div>
      </div>


    </form>

  </div>

</body>
</html>
