<html>
<head>
  <title>MyClass</title>
  <link rel="stylesheet" href="/static/css/bulma.min.css">
</head>
<body>
  <div class="tabs is-centered">
    <ul>
      {% for d in range(7) %}
        {% if d == day %}
        <li class="is-active">
        {% else %}
        <li>
        {% endif %}
          <a href="/{{ d }}/{{ cl }}">
            {{ "月火水木金土日"[d] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <nav class="pagination is-centered">
    <ul class="pagination-list">
      {% for c in range(cl_length) %}
        <li>
          {% if c == cl %}
          <a class="pagination-link is-current" href="/{{ day }}/{{ c }}">
          {% else %}
          <a class="pagination-link" href="/{{ day }}/{{ c }}">
          {% endif %}
            {{ c + 1 }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="m-2">
    <p class="title is-4">{{ cldir }}</p>
    <div class="block">{{ description }}</div>
    <table class="table is-fullwidth">
      <thead>
        <th>ファイル一覧</th>
      </thead>
      {% for f in files %}
        <tr>
          <td><a href="/{{ day }}/{{ cl }}/{{ f }}" target="_blank">{{ f }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
